##### Name- Madhumita Pal
##### Enrollment No.- 0004

# Bag of Words

In [32]:
from nltk.tokenize import word_tokenize

In [33]:
import pandas as pd

In [34]:
sentence_1= 'It was a good practice for us.'
sentence_2= 'It was also good to know about it.'
sentence_3= 'For all of us they have done a good practice.'

In [35]:
# find the list of all distinct words present in thse three sentences.

In [36]:
words = word_tokenize(sentence_1.lower()) + word_tokenize(sentence_2.lower()) + word_tokenize(sentence_3.lower())
set(words)

{'.',
 'a',
 'about',
 'all',
 'also',
 'done',
 'for',
 'good',
 'have',
 'it',
 'know',
 'of',
 'practice',
 'they',
 'to',
 'us',
 'was'}

In [37]:
tokens = set(words)

In [38]:
tokens

{'.',
 'a',
 'about',
 'all',
 'also',
 'done',
 'for',
 'good',
 'have',
 'it',
 'know',
 'of',
 'practice',
 'they',
 'to',
 'us',
 'was'}

In [16]:
list(tokens)

['it',
 'to',
 'practice',
 'done',
 'about',
 'all',
 'know',
 'was',
 'for',
 'good',
 'they',
 'have',
 'us',
 '.',
 'also',
 'a',
 'of']

In [39]:
df = pd.DataFrame(columns=list(tokens), index=[1,2,3])
df

,it,to,practice,done,about,all,know,was,for,good,they,have,us,.,also,a,of
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [40]:
tokens1= word_tokenize(sentence_1.lower())
tokens2= word_tokenize(sentence_2.lower())
tokens3= word_tokenize(sentence_3.lower())

In [41]:
tokens1, tokens2, tokens3

(['it', 'was', 'a', 'good', 'practice', 'for', 'us', '.'],
 ['it', 'was', 'also', 'good', 'to', 'know', 'about', 'it', '.'],
 ['for',
  'all',
  'of',
  'us',
  'they',
  'have',
  'done',
  'a',
  'good',
  'practice',
  '.'])

In [42]:
counts1 = [tokens1.count(x) for x in df.columns]
counts2 = [tokens2.count(x) for x in df.columns]
counts3 = [tokens3.count(x) for x in df.columns]

In [43]:
counts1, counts2, counts3

([1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 1, 0, 1, 0],
 [2, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0],
 [0, 0, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1])

In [44]:
df

,it,to,practice,done,about,all,know,was,for,good,they,have,us,.,also,a,of
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [45]:
df.iloc[0,:] = counts1
df.iloc[1,:] = counts2
df.iloc[2,:] = counts3

In [46]:
df

  it to practice done about all know was for good they have us  . also  a of
1  1  0        1    0     0   0    0   1   1    1    0    0  1  1    0  1  0
2  2  1        0    0     1   0    1   1   0    1    0    0  0  1    1  0  0
3  0  0        1    1     0   1    0   0   1    1    1    1  1  1    0  1  1

#### We can do all of this using libraries in a very quick and simple way.

In [47]:
# Import the Count Vectorizer class

from sklearn.feature_extraction.text import CountVectorizer

In [48]:
# Create the object

cv = CountVectorizer()

In [49]:
# Apply the BOW method

mydata = cv.fit_transform([sentence_1, sentence_2, sentence_3])

In [50]:
mydata.toarray()

array([[0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1],
       [1, 0, 1, 0, 0, 1, 0, 2, 1, 0, 0, 0, 1, 0, 1],
       [0, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 0]], dtype=int64)

In [51]:
cv.get_feature_names_out()

array(['about', 'all', 'also', 'done', 'for', 'good', 'have', 'it',
       'know', 'of', 'practice', 'they', 'to', 'us', 'was'], dtype=object)

In [52]:
df = pd.DataFrame(data=mydata.toarray(),
                  columns=cv.get_feature_names_out())

In [53]:
df             # very importantly we see that the punctuations are deleted.

,about,all,also,done,for,good,have,it,know,of,practice,they,to,us,was
0,0,0,0,0,1,1,0,1,0,0,1,0,0,1,1
1,1,0,1,0,0,1,0,2,1,0,0,0,1,0,1
2,0,1,0,1,1,1,1,0,0,1,1,1,0,1,0

#### N-grams

In [54]:
# Create the object
cv= CountVectorizer(ngram_range=(1,2))

In [55]:
# apply the BOW- Ngram method
mydata= cv.fit_transform([sentence_1, sentence_2, sentence_3])

In [56]:
cv.get_feature_names_out()

array(['about', 'about it', 'all', 'all of', 'also', 'also good', 'done',
       'done good', 'for', 'for all', 'for us', 'good', 'good practice',
       'good to', 'have', 'have done', 'it', 'it was', 'know',
       'know about', 'of', 'of us', 'practice', 'practice for', 'they',
       'they have', 'to', 'to know', 'us', 'us they', 'was', 'was also',
       'was good'], dtype=object)

In [57]:
# now create my final data frame

df = pd.DataFrame(data=mydata.toarray(),
                  columns=cv.get_feature_names_out())

In [58]:
df

,about,about it,all,all of,also,also good,done,done good,for,for all,...,practice for,they,they have,to,to know,us,us they,was,was also,was good
0,0,0,0,0,0,0,0,0,1,0,...,1,0,0,0,0,1,0,1,0,1
1,1,1,0,0,1,1,0,0,0,0,...,0,0,0,1,1,0,0,1,1,0
2,0,0,1,1,0,0,1,1,1,1,...,0,1,1,0,0,1,1,0,0,0

# TF*IDF Vectorizer

In [59]:
# import the class
from sklearn.feature_extraction.text import TfidfVectorizer

In [60]:
# create the object
tfidf = TfidfVectorizer()

In [61]:
# apply the algorithm
new_data = tfidf.fit_transform([sentence_1, sentence_2, sentence_3])

In [62]:
new_data.toarray()

array([[0.        , 0.        , 0.        , 0.        , 0.42246056,
        0.32807831, 0.        , 0.42246056, 0.        , 0.        ,
        0.42246056, 0.        , 0.        , 0.42246056, 0.42246056],
       [0.37162591, 0.        , 0.37162591, 0.        , 0.        ,
        0.21948825, 0.        , 0.56526217, 0.37162591, 0.        ,
        0.        , 0.        , 0.37162591, 0.        , 0.28263108],
       [0.        , 0.37571621, 0.        , 0.37571621, 0.28574186,
        0.22190405, 0.37571621, 0.        , 0.        , 0.37571621,
        0.28574186, 0.37571621, 0.        , 0.28574186, 0.        ]])

In [64]:
tfidf.get_feature_names_out()

array(['about', 'all', 'also', 'done', 'for', 'good', 'have', 'it',
       'know', 'of', 'practice', 'they', 'to', 'us', 'was'], dtype=object)

In [66]:
df = pd.DataFrame(data=new_data.toarray(),
                  columns=tfidf.get_feature_names_out())

In [67]:
df

,about,all,also,done,for,good,have,it,know,of,practice,they,to,us,was
0,0.000000,0.000000,0.000000,0.000000,0.422461,0.328078,0.000000,0.422461,0.000000,0.000000,0.422461,0.000000,0.000000,0.422461,0.422461
1,0.371626,0.000000,0.371626,0.000000,0.000000,0.219488,0.000000,0.565262,0.371626,0.000000,0.000000,0.000000,0.371626,0.000000,0.282631
2,0.000000,0.375716,0.000000,0.375716,0.285742,0.221904,0.375716,0.000000,0.000000,0.375716,0.285742,0.375716,0.000000,0.285742,0.000000